 *{
     margin:0;
     padding:0;
     box-sizing:border-box;
 }

 body{
background: #FF0074;
height: 100%;
width: 100%;
align-items: center;
display:flex;
flex-direction: column;
 }


 .game{
/* width: 90vw;
padding-top: 100%; */

/* height: 90vh; */
width: 100%;
height: 100%;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
gap: 10px;
/* padding:10px;
align-items: center;
justify-items: center; */
background: orange;

justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
 }

 .slot{
background: blue;
border-radius: 50%;
/* align-self: center;
justify-self: center; */
width: 100%;
padding-top: 100%;
justify-content: center;
transition: 0.5s;
 }

 .green{
     background: green;
 }

 .slot:not(.green):hover{
     background:cyan;
 }

.scene{
    /* position: absolute; */
    width: 700px;
    height: 700px;
    /* border: 1px solid #CCC; */
  margin: 80px;
  perspective: 900px;
  
}



.box {
    width: 700px;
    height: 700px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-350px);
    transition: transform 0.7s;

   
   
}

.buttons{
    /* display: clea */
    /* z-index: 10; */
}


.boxface {
    position: absolute;
    width: 700px;
    height: 700px;
    /* z-index: 5; */
    font-weight: bold;
  color: white;
  text-align: center;
  


  
  }

  /* .boxfacefront  {  transform: rotateY(  0deg) translateZ(350px);}
.boxfaceright, .boxfacetop  { background: navy; }
.boxfaceleft, .boxfacebottom {background: orange;}
.boxfaceback   { background: hsla(120, 100%, 50%, 0.7); 
    transform: rotateY(180deg) translateZ(350px);} */

    .boxfacefront  { background: green; }
    .boxfaceright  { background: navy; }
    .boxfaceback   { background: red; }
    .boxfaceleft   { background: navy; }
    .boxfacetop    { background: green; }
    .boxfacebottom { background: green; }
    
    .boxfacefront  { transform: rotateY(  0deg) translateZ(350px); }
    .boxfaceright  { transform: rotateY( 90deg) translateZ(350px); }
    .boxfaceback   { transform: rotateY(180deg) translateZ(350px); }
    .boxfaceleft   { transform: rotateY(-90deg) translateZ(350px); }
    .boxfacetop    { transform: rotateX( 90deg) translateZ(350px); }
    .boxfacebottom { transform: rotateX(-90deg) translateZ(350px); }

    .shadow{

        display: block;
	width: 500px;
	height: 500px;
	/* background: rgba(0,0,0,0.8); */
    background: yellow;
	position: absolute;
	top: 45%;
    -webkit-transform: rotateX(85deg);
	transform: rotateX(85deg) translateZ(-150px);

	z-index: -1000;
	/* transform-style: preserve-3d; */
    transition:  0.7s;
	filter: blur(25px);
	left: 0;
	right: 0;
	margin: auto;
   /* perspective: 400px;; */
    }


    
    .spinfront  { transform: translateZ(-350px) rotateY(   0deg); }
.spinback   { transform: translateZ(-350px) rotateY(-180deg); }

.spinfrontshadow  { transform: rotateX(90deg) rotateY(0deg); }
.spinbackshadow   { transform: rotateX(90deg) rotateZ(180deg); }